<h1>Que partidazo!</h1>

<p><%= @match.date  %> en <%= @match.place %></p>

<h2>El plantel</h2>

<!-- TODO: DRY this out with a partial if possible -->
<table>
  <tr>
    <th>Nombre</th>
    <th>E-Mail</th>
  </tr>

  <% @match.players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.email %></td>
    </tr>
  <% end %>
</table>

<% if !@player.nil? %>
<p>
  <%= link_to "Sumate!", url_for(controller: 'matches', action: 'join', match_id: @match.id, player_id: @player.id), method: :post %>
</p>
<% end %>
